<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet: required for Retrofit to communicate with Mockoon simulator -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".IsoMessageApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ISOMessage"
        android:usesCleartextTraffic="true"
        tools:targetApi="28">
        <!--
            usesCleartextTraffic=true allows HTTP to Mockoon (localhost:5000).
            In real payment systems: ALL communication MUST use TLS 1.2+ per PCI DSS 4.2.1.
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ISOMessage"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
